/* --------------- */
/* CUSTOM PROPERTIES */
/* --------------- */

:root {
  /* font-families */
  --ff-sans-serif: "Poppins", sans-serif;

  /* colors */
  --clr-purple: 259, 100%, 65%;
  --clr-light-red: 0, 100%, 67%;
  --clr-white: 0, 0%, 100%;
  --clr-off-white: 0, 0%, 94%;
  --clr-light-grey: 0, 0%, 86%;
  --clr-smokey-grey: 0, 0%, 86%;
  --clr-off-black: 0, 0%, 8%;
}

/* --------------- */
/* RESET */
/* --------------- */

/* Box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* images */
img,
picture {
  max-width: 100%;
}

/* form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* button*/
button {
  cursor: pointer;
}

/* lists */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/* UTILITY CLASSES */
/* --------------- */

/* typography */
.ff-san-serif {
  font-family: var(--ff-sans-serif);
}

.uppercase {
  text-transform: uppercase;
}

/* colors */
.bg-purple {
  background-color: hsl(var(--clr-purple));
}
.bg-light-red {
  background-color: hsl(var(--clr-light-red));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-off-white {
  background-color: hsl(var(--clr-off-white));
}
.bg-light-grey {
  background-color: hsl(var(--clr-light-grey));
}
.bg-smokey-grey {
  background-color: hsl(var(--clr-smokey-grey));
}
.bg-off-black {
  background-color: hsl(var(--clr-off-black));
}

.text-purple {
  color: hsl(var(--clr-purple));
}
.text-light-red {
  color: hsl(var(--clr-light-red));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-off-white {
  color: hsl(var(--clr-off-white));
}
.text-light-grey {
  color: hsl(var(--clr-light-grey));
}
.text-smokey-grey {
  color: hsl(var(--clr-smokey-grey));
}
.text-off-black {
  color: hsl(var(--clr-off-black));
}

/* --------------- */

body {
  font-family: var(--ff-sans-serif);
}
